@font-face {
    font-family: 'PetitaLight';
    src: url("../asset/fonts/PetitaLight.ttf");
}
.isi-blog {

    position: absolute;
    align-items: center;
    text-align: center;
    color: white;
    top: 10%;
    bottom: 30%;
    padding: 0;
    margin: 0px auto;
    left: 10%;
    right: 10%;
    font-family: 'PetitaLight';
}

.isi-blog h1{
    font-size: 3em;
    letter-spacing: 10px;
}

.isi-blog p{
    font-size: 25px;
}

.gambar-dark {
    width: 720px;
    height: 480px;
    border-radius: 10px;
}

.media {
    padding-top: 20px;
    padding-bottom: 20px;

}

.back {
    border-radius: 5px;
    background-color: #121212;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    padding: 20px;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: 'PetitaLight';
    font-weight: normal;
    letter-spacing: 4px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
                inset -5px -5px 15px rgba(255, 255, 255, 0.1),
                5px 5px 15px rgba(0, 0, 0, 0.3),
                -5px -5px 15px rgba(255, 255, 255, 0.1);
            }
  
.back span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.back span:after {
    content: '\00AB';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -20px;
    transition: 0.5s;
}

.back:hover span {
    padding-left: 25px;
}

.back:hover span:after {
    opacity: 1;
    left: 0;
}